.card > .book-card {
  float: left;
  margin: 5px 0 5px 0px;
  text-align: left;
  font-size: 20px;
  border: 2px solid black;
  box-shadow: 4px 4px lightgray;
}

#card-title {
    padding: 10px 0 0 20px;
    left: 10px;
    width: 400px;
    text-align: left;
}

#card-published {
    padding: 10px 0 0 20px;
    left: 410px;
    width: 60px;
}

#card-authors {
    padding: 10px 0 0 20px;
    left: 810px;
    width: 400px;
    text-align: left;
}

.button-info {
    left: 910px;
    width: 100px;
    margin: 0px 10px 0px 10px;
    border-radius: 10px; 
}

.button-save {
    left: 1010px;
    width: 80px;
    margin: 0px 10px 0px 10px; 
    border-radius: 10px; 
}

.button-search:hover {
    height: 75%;
    width: 75%;
}

#book-thumb {
    width: 150px;
    margin: 0px 0 0 30px;
}

.book-description {
    padding: 20px;
    font-size: 16px;
    text-align: justify;
}

